<%# app/views/dashboard/index.html.erb %>
<div class="welcome-container">
  <h1>Welcome to Happy Apple, dear <%= current_user.email_address.split("@").first %>! 🍎</h1>
  <p class="welcome-message">We wish you a beautiful day.</p>
  <p class="daily-thought"><em><%= daily_thought %></em></p>

  <h2>What's your order today?</h2>
  <%= link_to "See our products", products_path, class: "btn-primary" %>

  
</div>