<%= turbo_frame_tag "cart_count" do %>
  <span class="cart-icon">
    🛒
    <% if current_user.cart&.total_items.to_i > 0 %>
      <span class="cart-badge"><%= current_user.cart.total_items %></span>
    <% end %>
  </span>
<% end %>